<a href="https://colab.research.google.com/github/neeha86/neeha-/blob/main/DS_MINOR_FEB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**THIPPASAMUDRAM NEEHA TABASSUM**     
**DS-MINOR-FEB**

In [ ]:
#Importing essential packages
import numpy as np
import pandas as pd #the most
import matplotlib.pyplot as plt

In [ ]:
#Importing the data and taking a look at it
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

**1. From which manufacturing year to which manufacturing year
vehicles are present in this data ?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
print(df.Year.min())
print(" to ")
print(df.Year.max())

2003
 to
2018

**2. What is the lowest price to which a vehicle is sold ?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
print(df.Selling_Price.min())

0.1

**3. What is the highest price to which a vehicle is sold**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
print(df.Selling_Price.max())

35.0

**4. How many records are there?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
a=df.shape[0]
b=df.shape[1]
print(a, "rows -" , b  ,"columns" )

301 rows - 9 columns

**5. Are there any missing records in this data ?**

In [ ]:
data.isnull()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
296,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False

In [ ]:
print(df.isnull().sum())

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

**6. How many different vehicles are present in this data ?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
cnt=0
visited=[]
for i in range(0,len(df['Car_Name'])):
  if df['Car_Name'][i] not in visited:
    visited.append(df['Car_Name'][i])
    cnt += 1
print("no.of.different vehicles present in this data : ",cnt)
print("unique vehicle names : ",visited)

no.of.different vehicles present in this data :  98
unique vehicle names :  ['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza', 's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis', '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis', 'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd', 'camry', 'land cruiser', 'Royal Enfield Thunder 500', 'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400', 'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R', 'Royal Enfield Thunder 350', 'KTM 390 Duke ', 'Mahindra Mojo XT300', 'Bajaj Pulsar RS200', 'Royal Enfield Bullet 350', 'Royal Enfield Classic 500', 'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R', 'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160', 'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme', 'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street', 'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F', 'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200', 'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ', 'Honda Dream Yuga ', 'Bajaj Avenger Street 220', 'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro', 'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS', 'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme', 'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter', 'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine', 'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego', 'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor', 'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc', 'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10', 'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio', 'amaze', 'jazz']

**8.Does the database include any CNG vehicle ? If yes how
many of them are there ?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)

print('CNG' in set(df['Fuel_Type']))
df.Fuel_Type.str.count('CNG').sum()

True

2

**9. How many vehicles here are for sell from Individuals directly
?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)

df.Seller_Type.str.count('Individual').sum()

106

**10. Does this database contain auto transmission vehicles ? If
yes how many of them are there ?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)

print('Automatic' in set(df['Transmission']))
df.Transmission.str.count('Automatic').sum()

True

40

**11. How many single person owned vehicles are there in this
database ?**

In [ ]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
data['Owner'].value_counts()[1]

10

**12. Which is the most and least cost depreciated vehicle in data
?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
df['depreciated'] = df['Present_Price']-df['Selling_Price']
print("least cost depreciated vehicle ")
df[df.depreciated == df.depreciated.min()]

least cost depreciated vehicle

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,depreciated
155,Honda Activa 4G,2017,0.48,0.51,4300,Petrol,Individual,Automatic,0,0.03

In [ ]:
print("most cost depreciated vehicle ")
df[df.depreciated == df.depreciated.max()]

most cost depreciated vehicle

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,depreciated
86,land cruiser,2010,35.0,92.6,78000,Diesel,Dealer,Manual,0,57.6

**13. Which brands of vehicles are less affected by cost
depreciation**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
df['depreciated'] = df['Present_Price']-df['Selling_Price']
print("vehicles are less affected by cost depreciation :\n")
df[(df['Year'] >= 2017)]

vehicles are less affected by cost depreciation :

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,depreciated
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2.60
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,0.58
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0,0.75
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual,0,0.81
27,swift,2017,6.00,6.49,16200,Petrol,Individual,Manual,0,0.49
49,ciaz,2017,7.75,9.29,37000,Petrol,Dealer,Automatic,0,1.54
52,innova,2017,18.00,19.77,15000,Diesel,Dealer,Automatic,0,1.77
64,fortuner,2017,33.00,36.23,6000,Diesel,Dealer,Automatic,0,3.23
66,innova,2017,19.75,23.15,11000,Petrol,Dealer,Automatic,0,3.40
82,innova,2017,23.00,25.39,15000,Diesel,Dealer,Automatic,0,2.39
97,corolla altis,2017,17.00,18.64,8700,Petrol,Dealer,Manual,0,1.64
101,UM Renegade Mojave,2017,1.70,1.82,1400,Petrol,Individual,Manual,0,0.12
102,KTM RC200,2017,1.65,1.78,4000,Petrol,Individual,Manual,0,0.13
103,Bajaj Dominar 400,2017,1.45,1.60,1200,Petrol,Individual,Manual,0,0.15
104,Royal Enfield Classic 350,2017,1.35,1.47,4100,Petrol,Individual,Manual,0,0.12
109,Royal Enfield Classic 350,2017,1.20,1.47,11000,Petrol,Individual,Manual,0,0.27
126,Bajaj Avenger 220,2017,0.90,0.95,1300,Petrol,Individual,Manual,0,0.05
128,Honda CB Hornet 160R,2017,0.80,0.87,3000,Petrol,Individual,Manual,0,0.07
129,Yamaha FZ S V 2.0,2017,0.78,0.84,5000,Petrol,Individual,Manual,0,0.06
130,Honda CB Hornet 160R,2017,0.75,0.87,11000,Petrol,Individual,Manual,0,0.12
132,Bajaj Avenger 220,2017,0.75,0.95,3500,Petrol,Individual,Manual,0,0.20
134,TVS Apache RTR 160,2017,0.65,0.81,11800,Petrol,Individual,Manual,0,0.16
155,Honda Activa 4G,2017,0.48,0.51,4300,Petrol,Individual,Automatic,0,0.03
156,TVS Sport,2017,0.48,0.52,15000,Petrol,Individual,Manual,0,0.04
158,Honda Dream Yuga,2017,0.48,0.54,8600,Petrol,Individual,Manual,0,0.06
159,Honda Activa 4G,2017,0.45,0.51,4000,Petrol,Individual,Automatic,0,0.06
173,Activa 4g,2017,0.40,0.51,1300,Petrol,Individual,Automatic,0,0.11
206,xcent,2017,5.75,7.13,12479,Petrol,Dealer,Manual,0,1.38
208,i20,2017,7.90,8.10,3435,Petrol,Dealer,Manual,0,0.20
214,grand i10,2017,5.25,5.70,20114,Petrol,Dealer,Manual,0,0.45
220,eon,2017,3.50,4.43,38488,Petrol,Dealer,Manual,0,0.93
231,verna,2017,9.25,9.40,15001,Petrol,Dealer,Manual,0,0.15
235,verna,2017,9.10,9.40,15141,Petrol,Dealer,Manual,0,0.30
265,jazz,2017,6.50,8.70,21200,Petrol,Dealer,Manual,0,2.20
268,brio,2017,4.80,5.80,19000,Petrol,Dealer,Manual,0,1.00
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,1.00

**14. Can we get idea about newest vehicles i.e. after 2014
manufactured**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
print("newest vehicles i.e. after 2014 manufactured : \n")
df[(df['Year'] > 2014)]

newest vehicles i.e. after 2014 manufactured :

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
295,city,2015,8.55,13.09,60076,Diesel,Dealer,Manual,0
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

**15. Can we find out data of only two wheelers from this data
?**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df=pd.DataFrame(data)
print("data of only two wheelers :\n")
df[(df['Fuel_Type'] == 'Petrol')]

data of only two wheelers :

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
293,city,2010,3.25,9.90,38000,Petrol,Dealer,Manual,0
294,amaze,2014,3.75,6.80,33019,Petrol,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0